**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties
**/nbproject/project.properties
build/
nbbuild/
dist/
nbdist/
.nb-gradle/